{% load static %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Copyright© 2020 by Jackie
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="javascript: void(0);">Buy Now</a>
                    <a href="#">Rate us</a>
                    <a href="#">Support</a>
                </div>
            </div>
        </div>
    </div>
</footer>