{% extends './base.html' %}
{% load static %}


{% block content %}
<h1>Rent a Car</h1>
<div class="d-flex flex-wrap">

    
    
    {%  for c in list %}
    <div class="border ml-2 mb-2 p-2">
        <form method="get" action="{%  url 'rental:viewCar' %}">
            {% csrf_token %}
                <p style="font-size:130%;font-family:verdana"> {{ c.carName }} <br/></p>
                <ul>
                <li style="font-family:verdana;">Doors: {{ c.numDoors }}</li>
                <li style="font-family:verdana;">Seats: {{ c.numSeats }}</li>
                <li style="font-family:verdana;">Transmission: {{ c.gear }}</li>
                <li style="font-family:verdana;">Price/Day: {{ c.priceDay }} AED</li>
                <li style="font-family:verdana;">Price/Week: {{ c.priceWeek }} AED</li>
                </ul>
                <div class="text-center">
                    <button class="btn btn-primary text-center" type="submit" value="Book Car" name="{{ c.id }}" id="id">Book Car</button>
                </div>
            </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
